.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg);
  color: var(--font);
  padding-top: 3rem;
}

@media (max-width: 600px) {
}
